<nav>
  <div class="nav_item">
    <span class="material-symbols-outlined"> calendar_month </span>
    <a href="/"> Today</a>
  </div>
  <div class="nav_item">
    <span class="material-symbols-outlined"> work </span>
    <a href="/work">Work</a>
  </div>
</nav>
